name: Deploy Book
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-book:
    name: Build Book
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install mdbook
        run: cargo install mdbook --version "^0.4" --locked

      - name: Run mdbook
        run: mdbook build book

      - name: Upload book
        uses: actions/upload-artifact@v4
        with:
          path: book/build
          retention-days: "3"

      - name: Deploy Book
        uses: JamesIves/github-pages-deploy-action@v4
        if: ${{ github.event_name == 'push' && startsWith('refs/heads/main', github.ref) }}
        with:
          branch: gh-pages
          folder: book/build
          single-commit: true
